header {
    max-width: 1140px;
    margin: 0 auto;
    text-align: right;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.cart-button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgb(53 110 173 / 20%);
    border-radius: 10px;
    padding: 15px 50px;
}

.goods-list {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.goods-item {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}